---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title {
  white-space: break-spaces;
  font-size: 50px
}

@media only screen and (max-width: 600px) {
  .site-title {
    font-size: 45px
  }
}

img.group {
  width: 130px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.affiliation-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img.affiliation {
  height: 100px;
  margin-right: 50px;
  margin-top: 24px;
  margin-bottom: 10px;
  display: inline-block;
}

img.affiliation:last-child {
  margin-right: 0;
}

img.aidx {
  height: 140px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  float: right;
  display: block;
}
@media only screen and (max-width: 600px) {
  img.aidx {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.youtube-video {
    aspect-ratio: 16 / 9;  
    width: 100%;  
    height: auto;  
}

.member-details {
  display: inline-block;
  width: 430px;
  max-width: 100%;
}

.member {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .member {
    flex-direction: column;
  }
}

.member-details p {
  margin-bottom: 0;
}

.post-content h1, .post-content h2, .post-content h3 {
  margin-top: 35px;
}